.DS_Store
semantic.cache
bin/

*.tmp
*.tmp.obo
*.tmp.owl
*.tmp.json

src/ontology/mirror
src/ontology/mirror/*
src/ontology/omrse.owl
src/ontology/omrse.obo
src/ontology/omrse.json
src/ontology/omrse-base.*
src/ontology/omrse-basic.*
src/ontology/omrse-full.*
src/ontology/omrse-simple.*
src/ontology/omrse-simple-non-classified.*

src/ontology/seed.txt
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/patterns
src/ontology/merged-omrse-edit.owl
src/ontology/reports
reports/

src/ontology/target/
src/ontology/tmp/*
!src/ontology/tmp/README.md

src/ontology/imports/*_terms_combined.txt

src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt
src/scripts/pull_changes_from_master.sh
src/_patterns
src/_sparql
.cogs
pull-request.md
omrse/catalog-v001.xml
omrse/language/catalog-v001.xml
